html, body {
  height: 100%; }

#page {
  min-height: 100%; }

#wrap {
  overflow: auto;
  padding-bottom: 100px; }

#colophon {
  position: relative;
  margin-top: -100px;
  min-height: 100px;
  clear: both;
  color: #999; }
  #colophon p {
    font-size: 90%;
    line-height: 1.5em; }
  #colophon ul.nav-menu {
    margin-left: 0; }
  #colophon .stuffs a {
    float: left;
    padding: 13px 8px 0 0; }
    #colophon .stuffs a:first-child {
      padding-left: 0; }
  #colophon .bump-bottom {
    margin-top: 2em; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/ }

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important; }

a:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

h1, h2, h3, h4 {
  font-family: "museo_sans100", Helvetica, sans-serif;
  text-transform: uppercase; }

h5 {
  font-family: "museo_sans700", Helvetica, sans-serif; }

p {
  font-family: "museo_sans100", Helvetica, sans-serif; }

.title {
  font-family: "museo_sans300", Helvetica, sans-serif;
  font-size: 1em; }

.section {
  padding: 4em 0; }

.featured-btn {
  font: 92% "museo_sans300", Helvetica, sans-serif;
  text-align: center;
  padding: 1em 2em;
  border: 1px solid #d2ac67;
  margin: 1.5em 0 3em;
  display: inline-block;
  color: #d2ac67; }
  .featured-btn:hover {
    background: rgba(210, 172, 103, 0.2); }

#page {
  overflow: hidden; }

.nav-menu {
  text-transform: uppercase; }
  .nav-menu li {
    display: inline;
    list-style: none;
    margin-right: 0.7em;
    margin-left: 0.7em; }
  .nav-menu li:first-child {
    margin-left: 0; }
  .nav-menu li:last-child {
    margin-right: 0; }
  .nav-menu a {
    font: 13px "museo_sans500", Helvetica, sans-serif;
    color: #a6a6a6;
    line-height: 5.4em;
    letter-spacing: 0.4px; }
    .nav-menu a:hover {
      color: #fff; }

.site-navigation {
  max-height: 73px; }

.site-navigation.expanded {
  max-height: none !important; }

#masthead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000; }
  #masthead #magellan-stuff {
    top: 25px;
    position: relative; }
  #masthead #primary-navigation {
    display: inline-block; }
  #masthead ul {
    margin: 0;
    padding: 0; }
  #masthead .hide-for-small.dark-bg {
    background: #373737; }
    #masthead .hide-for-small.dark-bg .site-title {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -81px;
      z-index: 500; }
  #masthead #toggle-menu {
    display: inline-block;
    margin-top: 2em;
    margin-right: 1em;
    position: relative;
    float: right;
    cursor: pointer; }
    #masthead #toggle-menu img {
      width: 100%; }
  #masthead .show-for-small-up {
    background: #373737;
    width: 100%;
    height: 81px; }
    #masthead .show-for-small-up .site-title, #masthead .show-for-small-up #social-area, #masthead .show-for-small-up #toggle-menu {
      display: inline-block;
      vertical-align: top; }
    #masthead .show-for-small-up .site-title {
      max-width: 30%; }
    #masthead .show-for-small-up #social-area {
      max-width: 63%;
      position: relative;
      z-index: 3333; }
    #masthead .show-for-small-up #social-area.hide-for-small {
      display: none; }
    #masthead .show-for-small-up #toggle-menu {
      max-width: 5%; }
    #masthead .show-for-small-up #primary-navigation {
      display: none;
      background: #373737;
      padding-top: 4em;
      margin-top: -5.1em;
      padding-left: 0.7855em;
      padding-right: 0.7855em;
      width: 104.1%;
      margin-left: -0.7855em; }
    #masthead .show-for-small-up .nav-menu li {
      display: block;
      margin-right: 0; }
      #masthead .show-for-small-up .nav-menu li a {
        display: block;
        line-height: 3em;
        border-top: 1px solid #ccc; }
  #masthead .floater {
    padding: 0;
    float: right; }
  #masthead .show-for-small-up .site-navigation li {
    margin-left: 0;
    margin-right: 0; }

.logged-in #masthead {
  top: 32px; }

#social-area {
  display: inline-block;
  position: relative;
  z-index: 3333; }
  #social-area a, #social-area div {
    display: inline-block;
    padding: 0px 12px; }
  #social-area #phone-holder {
    padding: 0 12px 0 0;
    width: 106px;
    position: relative;
    top: -35px; }
    #social-area #phone-holder a {
      position: absolute;
      padding: 0;
      left: 0; }
      #social-area #phone-holder a#phone {
        top: 5px; }
      #social-area #phone-holder a#phonetn {
        top: 32px; }
  #social-area a:first-child {
    padding-left: 0; }

.vertical-line {
  border-left: 1px solid #4d4d4d;
  padding: 19px 0px 50px !important;
  vertical-align: middle; }

.flexslider.slideshow {
  /* Slide in from the right*/
  /* Slide out to the left*/ }
  .flexslider.slideshow .slides li article {
    position: absolute;
    opacity: 0;
    right: 110%;
    top: 7em; }
  .flexslider.slideshow li.flex-active-slide article {
    right: 0;
    opacity: 1; }
  .flexslider.slideshow h2, .flexslider.slideshow p {
    margin: 0;
    text-align: center; }
  .flexslider.slideshow h2 {
    background: rgba(193, 152, 79, 0.83);
    padding: 30px 23px;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.41em;
    font-family: "museo_sans700", Helvetica, sans-serif; }
  .flexslider.slideshow p {
    background: rgba(255, 255, 255, 0.83); }
  .flexslider.slideshow .row {
    position: relative; }
  .flexslider.slideshow .slides > li {
    position: relative; }
  .flexslider.slideshow .slides > li.fromRight .text {
    -webkit-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -moz-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -o-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    -ms-animation: fromRightAnim1 0.6s ease-in 0.8s both;
    animation: fromRightAnim1 0.6s ease-in 0.8s both; }
@-webkit-keyframes fromRightAnim1 {
  0% {
    right: 110%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@-moz-keyframes fromRightAnim1 {
  0% {
    right: 110%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@-o-keyframes fromRightAnim1 {
  0% {
    right: 110%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@-ms-keyframes fromRightAnim1 {
  0% {
    right: 110%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
@keyframes fromRightAnim1 {
  0% {
    right: 110%;
    opacity: 0; }
  100% {
    right: 10%;
    opacity: 1; } }
  .flexslider.slideshow .slideshow .slides > li.toLeft .text {
    opacity: 0;
    right: 0%;
    -webkit-animation: toLeftAnim1 0.6s ease-in both;
    -moz-animation: toLeftAnim1 0.6s ease-in both;
    -o-animation: toLeftAnim1 0.6s ease-in both;
    -ms-animation: toLeftAnim1 0.6s ease-in both;
    animation: toLeftAnim1 0.6s ease-in both; }
@-webkit-keyframes toLeftAnim1 {
  0% {
    right: 10%;
    opacity: 1; }
  80% {
    right: -30%;
    opacity: 0;
    animation-timing-function: easeInOutQuart; } }
@-moz-keyframes toLeftAnim1 {
  0% {
    right: 10%;
    opacity: 1; }
  80% {
    right: -30%;
    opacity: 0;
    animation-timing-function: easeInOutQuart; } }
@-o-keyframes fromLeftAnim1 {
  0% {
    right: 10%;
    opacity: 1; }
  80% {
    right: -30%;
    opacity: 0;
    animation-timing-function: easeInOutQuart; } }
@-ms-keyframes toLeftAnim1 {
  0% {
    right: 10%;
    opacity: 1; }
  80% {
    right: -30%;
    opacity: 0;
    animation-timing-function: easeInOutQuart; } }
@keyframes toLeftAnim1 {
  0% {
    right: 10%;
    opacity: 1; }
  80% {
    right: -30%;
    opacity: 0;
    animation-timing-function: easeInOutQuart; } }
#history {
  position: relative;
  background: #fff url(../img/blueprint-lighter.png) no-repeat; }
  #history.section {
    padding: 0; }
  #history .medium-7 {
    padding: 4em 0 4em 0.7855em; }
  #history #offscreen-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 34.4%; }

[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: transparent;
  min-width: 0;
  padding: 0; }

[data-magellan-expedition-clone] {
  display: none !important;
  visibility: hidden !important; }

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  padding: 0; }

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  background: transparent;
  padding: 0;
  border-radius: 0;
  color: #d2ac67; }

.fixed {
  left: auto; }

li.active a:hover {
  background: transparent !important; }

li.active a, .sub-nav li.active a {
  color: #d2ac67 !important; }

#colophon {
  background: #373737;
  border-top: 1px solid #d2ac67;
  padding: 1.5em 0;
  text-align: center; }
  #colophon .floater a {
    padding: 0 8px; }

@media only screen and (max-width: 641px) {
  #offscreen-container {
    display: none; } }
@media only screen and (min-width: 641px) {
  #social-area {
    display: inline-block !important; }

  #logo-foot {
    float: left; } }
@media only screen and (min-width: 950px) {
  #colophon .sub-nav {
    float: left;
    margin-top: 0.8em; }

  #colophon .floater {
    margin-top: 0.7em;
    float: right; } }
@media only screen and (min-width: 1026px) and (max-width: 1090px) {
  .nav-menu li {
    margin-right: 0.6em;
    margin-left: 0.6em; } }
@media only screen and (min-width: 1111px) {
  #social-area a, #social-area div {
    padding: 0px 15px; }

  #masthead .nav-menu li {
    margin: 0 1.4em 0 0; } }
@media only screen and (min-width: 1153px) {
  #social-area a, #social-area div {
    padding: 0px 18px; } }
#services {
  background: #4f4f4f url(../img/blueprint-busy.png) no-repeat; }
  #services .row {
    background: transparent url(../img/big-icon.png) no-repeat top center; }
  #services h1, #services h2, #services h3, #services h4, #services h5, #services h6, #services p, #services a.featured-btn {
    color: #fff; }
  #services #services-icons {
    font: 1em "museo_sans300", Helvetica, sans-serif;
    text-transform: uppercase; }
    #services #services-icons article {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px; }
      #services #services-icons article a {
        display: block;
        text-align: center; }
      #services #services-icons article img {
        margin: 0 auto;
        float: none; }
      #services #services-icons article p {
        padding-top: 0.5em;
        line-height: 1.2em; }
  #services a.featured-btn {
    border-color: #fff; }
    #services a.featured-btn:hover {
      background: rgba(255, 255, 255, 0.2); }

.reveal-modal {
  text-align: center;
  min-height: 0 !important;
  z-index: 9999; }

@media only screen and (min-width: 64.063em) {
  #services-icons a {
    text-align: left !important; }
  #services-icons img {
    margin: 0 1em 0 0 !important;
    float: left !important; } }
.employee-email {
  display: inline-block;
  background: transparent url(../img/email.jpg) no-repeat left;
  width: 29px;
  height: 15px; }

#team h5 {
  display: inline; }
#team em {
  display: block; }
#team img.attachment-team {
  width: 100%;
  margin-bottom: 0.6em; }
#team .medium-8 .medium-4 {
  margin-bottom: 2.1em; }
#team .with-bump {
  margin-bottom: 20px; }
#team .with-bump:nth-child(odd) {
  clear: both; }

@media only screen and (min-width: 40.063em) {
  #team .with-bump {
    width: 28%;
    margin-right: 5%; }
  #team .with-bump:nth-child(odd) {
    clear: none; }
  #team .with-bump:nth-child(3n+1) {
    clear: both; } }
#contact {
  background: #4f4f4f;
  -webkit-box-shadow: inset 0px 8px 7px 0px #2b2b2b;
  box-shadow: inset 0px 8px 7px 0px #2b2b2b;
  color: #fff;
  text-align: center; }
  #contact h2, #contact p {
    color: #fff; }
  #contact input, #contact textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff; }
  #contact input[type="submit"] {
    padding: 0.7em 1.5em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #contact input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.2); }
  #contact span.your-name, #contact span.your-email {
    width: 100%; }
  #contact span.wpcf7-not-valid-tip {
    position: absolute;
    top: -2.5em;
    z-index: 1000;
    background: #fff;
    padding: 0.2em;
    font-size: 0.8em;
    border-radius: 2px;
    background-clip: padding-box; }
  #contact span.wpcf7-not-valid-tip:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -6px;
    right: 6px; }

input::-webkit-input-placeholder {
  color: #ccc; }

input::-moz-placeholder {
  color: #ccc; }

input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #ccc; }

input:-ms-input-placeholder {
  color: #ccc; }

textarea::-webkit-input-placeholder {
  color: #ccc; }

textarea::-moz-placeholder {
  color: #ccc; }

textarea:-moz-placeholder {
  /* Older versions of Firefox */
  color: #ccc; }

textarea:-ms-input-placeholder {
  color: #ccc; }

input.wpcf7-quiz {
  max-width: 29px; }

#bid-list {
  background: #2e2e2e url(../img/blueprint-busy.png) no-repeat; }
  #bid-list h1, #bid-list h2, #bid-list h3, #bid-list h4, #bid-list h5, #bid-list h6, #bid-list p, #bid-list a.featured-btn {
    color: #fff; }
  #bid-list a.featured-btn {
    border-color: #fff; }
    #bid-list a.featured-btn:hover {
      background: rgba(255, 255, 255, 0.2); }

.page-template-default p {
  font-family: "museo_sans100", Helvetica, sans-serif; }
.page-template-default .page-header {
  margin: 60px 0 0;
  padding: 7em 0 2.9em;
  background: #4f4f4f url(../img/blueprint-busy.png) no-repeat;
  color: #fff; }
  .page-template-default .page-header p {
    color: #fff; }

.pdf {
  display: inline-block;
  font-weight: bold;
  background: transparent url(../img/file.png) no-repeat 0px 3px;
  padding-left: 30px;
  min-height: 35px;
  padding-top: 5px;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 10px; }

h1.page-title {
  color: #fff; }

table tr td, .table {
  vertical-align: top; }

.project-line {
  padding: 1em; }

table tr.even, table tr.alt, table tr:nth-of-type(even), .table .project-line:nth-child(even) {
  background: #E6E6E6; }

.rwd-table, .table {
  width: 100%;
  margin: 4em 0 5em; }
  .rwd-table th, .rwd-table td, .table th, .table td {
    width: 25%; }

@media only screen and (min-width: 40.063em) {
  .pdf {
    background: transparent;
    padding-left: 0;
    min-height: 0;
    padding-top: 0; } }
@media only screen and (min-width: 64.063em) {
  #services-icons a {
    text-align: left !important; }
  #services-icons img {
    margin: 0 1em 0 0 !important;
    float: left !important; }

  .pdf {
    background: transparent url(../img/file.png) no-repeat 0px 3px;
    padding-left: 30px;
    min-height: 35px;
    padding-top: 5px;
    margin-top: 0; } }
