.employee-email {display:inline-block;background:transparent url(../img/email.jpg) no-repeat left;width:29px;height:15px;}

#team {
	h5 {display:inline;}
	em {display:block;}
	img.attachment-team {width:100%;margin-bottom:0.6em;}
	.medium-8 .medium-4 {margin-bottom:2.1em;}
	.with-bump {margin-bottom:20px;}
	.with-bump:nth-child(odd) {clear:both;}
}

@media only screen and (min-width: 40.063em) {
	#team {
		.with-bump {width: 28%;margin-right: 5%;}
		.with-bump:nth-child(odd) {clear:none;}
		.with-bump:nth-child(3n+1) {clear:both;}		
	}
}
//1,4,7
//2n